<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PizzaIngredients</title>
</head>
<h1 th:text="|Pizza Ingredients|">PizzaIngredients</h1>
<body>
<div th:insert="~{fragment :: header}"></div>
<form action="/pizza-ingredients">
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${pizzaIngredients.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${pizzaIngredients.metadata.size}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div th:each="pizzaIngredient : ${pizzaIngredients.content}">
    <a th:href="@{pizza-ingredients/{id} (id=${pizzaIngredient.id})}"
       th:text="|${pizzaIngredient.id} ${pizzaIngredient.pizzaReadDto.name} ${pizzaIngredient.ingredientReadDto.name}|">
        Id Pizza Ingredient</a>
</div>
<br>
<br>
<form th:action="@{/pizza-ingredients/create}" method="post">
    <div>
        <label for="pizza"> Pizza:
            <select id="pizza" name="pizzaId">
                <option th:each="pizza : ${pizzas.content}"
                        th:value="${pizza.id}"
                        th:text="${pizza.name}">Pizza</option>
            </select>
        </label>
    </div>
    <div>
        <label for="ingredient"> Ingredient:
            <select id="ingredient" name="ingredientId">
                <option th:each="ingredient : ${ingredients.content}"
                        th:value="${ingredient.id}"
                        th:text="${ingredient.name}">Ingredient</option>
            </select>
        </label>
    </div>
    <button type="submit">Add Pizza and Ingredient</button>
</form>
</body>
</html>