<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
</head>
<h1>Bucket</h1>

<body>
<div th:insert="~{fragment :: header}"></div>

<div th:each="pizza, stat : ${bucket.pizzas}">
    <a th:text="|${pizza.pizzaName}, Size: ${pizza.size}, Type: ${pizza.type}, Count = ${pizza.count},
           Price = ${pizza.priceInBucket}, Ingredients: ${pizza.ingredientNames}|">Bucket</a>
    <form th:action="@{/bucket/{id}/remove (id=${stat.index})}" method="post">
        <button type="submit">Remove</button>
        <br>
    </form>
</div>
<br>
<a type="text" th:text="|PRICE ORDER = ${bucket.priceOrder}|">Price order</a>
<br>
<br>
<form th:action="@{/checkout}" th:if="${!bucket.pizzas.isEmpty()}">
    <button type="submit">Go To Checkout</button>
</form>
</body>
</html>