<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToBucket</title>
</head>
<h1 th:text="${pizza.name}">PizzaName</h1>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/bucket/add}" method="post">

    Size:
    <div th:each="size: ${sizes}">
        <label>
            <input th:id="${size}" type="radio" name="size" th:default="${size.MEDIUM}"
                   th:value="${size}"
                   th:checked="${size==pizzaToOrderCreateEditDto.size}">
        </label>
        <label th:for="${size}" th:text="${size}">Size</label>
    </div><br>

    Type:
    <div th:each="type: ${types}">
        <input th:id="${type}" type="radio" name="type"
               th:value="${type}"
               th:checked="${type==pizzaToOrderCreateEditDto.type}">
        <label th:for="${type}" th:text="${type}">Type</label>
    </div><br>
    <div>
        <label for="count">Count:
            <input id="count" type="number" name="count" min="1" th:value="${1}" th:checked="${count==pizzaToOrderCreateEditDto.count}">
        </label>
    </div><br>

    Ingredient:
    <div th:each="ingredient : ${ingredients.content}">
        <label>
            <input th:id="${ingredient}" type="checkbox" name="ingredients"
                   th:value="${ingredient.id}"
                   th:checked="${pizzaIngredientsIds.contains(ingredient.id)}">
            <label th:for="${ingredient}" th:text="${ingredient.name}">Ingredient</label>
        </label>
    </div><br>

        <input type="hidden" name="pizzaId" th:value="${pizza.id}" th:checked="${pizza.id==pizzaToOrderCreateEditDto.pizzaId}">
        <input  type="hidden" name="userId" th:value="${userReadDto.id}" th:checked="${userReadDto.id==pizzaToOrderCreateEditDto.userId}">

    <button type="submit">Bucket</button>
</form>
</body>
</html>