<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzas</title>
</head>
<body>
<form action="/pizzas">
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${pizzas.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${pizzas.metadata.size}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div th:each="pizza : ${pizzas.content}">
    <form  th:action="@{/pizzas/{id} (id=${pizza.id})}">
        <a th:href="@{pizzas/{id}/to-bucket (id=${pizza.id})}" th:text="|${pizza.id}. ${pizza.name}|">Pizza</a>
        <button type="submit">Update</button>
    </form>
</div>
<br>
<br>
<form th:action="@{/pizzas/create}" method="post">
    <label for="name"> Name:
        <input id="name" type="text" name="name" th:value="${pizzaCreateEditDto.name}">
    </label><br>
    <button type="submit">Add pizza</button>
</form>
</body>
</html>